{{#each meal_plans.[0].days as |day|}}
<div class="divDay" data-day="{{day.day}}">
    {{#each day.meals as |meal|}}
    <div class="divMeal" data-meal="{{meal.meal_time}}">
        {{#each meal.food as |food|}}
        <p class="foodName" data-name="{{food.name}}" data-meal-id="{{food.meal_food.meal_id}}" data-note="{{food.ingredients.[0].name}}"></p>
        {{/each}}
    </div>
    {{/each}}
</div>
{{/each}}